#links {
	display: none;
}

#links.show {
	display: flex;
	flex-direction: column;
}

#links-section h2 {
	cursor: pointer;
	user-select: none;
}

.summary-section textarea {
	width: 100%;
	height: 15rem;
}
